html, body {
    height: 100%;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Ubuntu Mono";
    font-size: 24px;
    font-style: normal;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}